<!DOCTYPE html>

<html>
  <head>
    <title>YT Fashion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
      .banner {
        width: 100%;
        height: 786px;
        object-fit: cover;
        /* display: none; */
      }
      .intro, span {
        padding: 30px;
      }
      .product-img img{
        width:400px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div>
      <header></header>
    </div>

    <h1 class="text-center mt-5" >Summer Collections</h1>
    <div class="text-center">
          <button class="btn btn-dark btn-lg mb-3">Shop Now</button>
    </div>
    <img class="img-fluid" class="banner" src="https://careers-website.mouharimouhame1.repl.co/static/banner1.jpg" >
    <div>
    <p class="text-center mb-3"> 
      <span>Order Above $200, Get Free Shipping</span> |
      <span>100% Money Back</span> |
      <span>Discount For Members </span> 
    </p>
    <div class="container">

    <h1 class="text-center mt-4 mb-4"> - OUR SPECIAL CATEGORY - </h1>
    <div class='row'>
      {% for category in prodcategory %}
        {% include 'product_category.html' %}
      {% endfor %}
      
    </div>

    <h6 class="text-center">Explore Our Brand</h6>
    <h2 class="text-center">POPULAR PRODUCTS</h2>
    <br>
    <div class='row'>
      {% for product in products %}
        {% include 'productitem.html'%}
      {% endfor %}
    </div>
    
    <div style="text-align:center">
    <button class="btn btn-dark btn-sm"> SHOP NEW ARRIVALS </button>
    </div>
    <br>
    <br>
    <div class="text-center">
    <h3 > ABOUT FASHION </h3>
    <p class="lead"> A Portion of your purchases goes towards supporting different causes,
    from helping families in need in Africa, to providing support for cancer patients
    and those affected by mental illnesses and more. With your help, we're making a
    difference in the world, one fashion statement at a time and we cannot thank you enought.</p>
    </div>
    <p class="text-center">Yours Truly / Thank You!</p>
     </div>  
          
    </div>
    <script>
      var slineIndex=0;
      carousel();
    function carousel() {
      var i;
      var x = document.getElementsByClassName("banner");
      for (i = 0; i < x.length; =i++){
        x[i].style.display = "none";     
      }
      slineIndex++;
      if (slineIndex > x.length) {slineIndex =1}
      x[slineIndex-1].style.display = "block";
      setTimeout(carousel, 5000);
    }

    </script>
  </body>
</html>