<div class="container marketing text-center mt-5">
<h3>Add New Products</h3>

<form action="/products/form" method="post">
  <div>
  <label>Product Title</label><br>
  <input type="text" name="title">
  </div>
  <div>
  <label>Image Link</label><br>
    <input type="text" name="img">
  </div>
  <div>
  <label>Product Price</label><br>
    <input type="text" name="price">
  </div>
  <div>
  <label>Condition</label><br>
    <input type="text" name="condition">
  </div>
  <div>
  <label>Sale Price</label><br>
    <input type="text" name="sale_price">
  </div>

  <br><input type="submit">
</form>
</div>