
    <div class="col-3">
      <div class="mb-4" style="padding-bottom:20px">          
        <div class="product-img">  <img class="object-fit-cover img-fluid rounded" alt="{{product['title']}}" src= {{product['img']}} > </div>
        <div class="container row">
        <h5> {{product['title']}} </h5>
        </div>
          <div class="container">
            <div><b>Price:</b> {{product['price']}} </div>
            <div><b>Product:</b> {{product['condition']}} </div>
            <button type="button" class="btn btn-outline-dark mt-4">Shop Now</button>
          </div>
        </div>
    </div>
